@font-face
{
    font-family: sansation;
    src: url(../fonts/sansation_light.woff);
}

body, button 
{
    font-family: sansation;
}

page-wrapper
{
    overflow: hidden;
}

main, header, footer
{
	width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
}

*
{ 
	box-sizing: border-box;
   -webkit-user-select: none;
}
   
header 
{
    height: 30px;
}

footer 
{ 
    height:30px; 
	top: 660px; 
	position: absolute;
    margin-left: 50px; 
	font-size: 2em;
}

main
{
	background-color: lightyellow;
	height: 650px;
    border: 10px solid #b6bdc3;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
	position: absolute;
    overflow: hidden;
}

svg text
{
    font-weight: bold;
    -webkit-user-select: none;
}

svg
{
    /*background-color: orange; */
    position: absolute;
}

/*  
@media only screen and (max-height: 600px) 
{
    svg 
	{
        width: auto;
        height: 450px;
    }
}

@media only screen and (max-height: 360px) 
{
    svg 
	{
        width: auto;
        height: 200px;
    }
}

@media only screen and (max-height: 240px) 
{
    svg 
	{
        width: auto;
        height: 180px;
    }
}*/

svg polygon:hover 
{
    fill-opacity: 1;
    stroke-width: 5;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}

.popup
{
    width: 200px; height: auto;
    top: 50; left:50;
	position: fixed;
    display: none;
    border: 5px solid #000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.5),0 20px 40px 0 rgba(0,0,0,0.5);
}

.popup .bar
{
    background-color: #fff;
    height: 20px;
    margin: auto;
}

.popup .content
{
    background-color: #c0c0c0;
    height: 50px;
    margin: auto;
}

.popup button 
{
    color: #aaaaaa;
    width: auto;
    height: auto;
    float: right;
	font-size: 10px;
    font-weight: bold;
}

.popup #remove 
{
    cursor: pointer;
}